BrainStomer/BrainStormerClient/Service References/ServiceReference2/BrainStomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BrainStomerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BrainStomerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClassQuestions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassQuestions" nillable="true" type="tns:ClassQuestions" />
</xs:schema>