BrainStormer_Project/Service References/BrainStormRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFBrainStormer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BrainStomerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFBrainStormer_ListQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:ListQuestions" />
  </wsdl:message>
  <wsdl:message name="IWCFBrainStormer_ListQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFBrainStormer_getQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:getQuestion" />
  </wsdl:message>
  <wsdl:message name="IWCFBrainStormer_getQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFBrainStormer_getOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:getOptions" />
  </wsdl:message>
  <wsdl:message name="IWCFBrainStormer_getOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFBrainStormer_loginDb_InputMessage">
    <wsdl:part name="parameters" element="tns:loginDb" />
  </wsdl:message>
  <wsdl:message name="IWCFBrainStormer_loginDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginDbResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFBrainStormer">
    <wsdl:operation name="ListQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFBrainStormer/ListQuestions" message="tns:IWCFBrainStormer_ListQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFBrainStormer/ListQuestionsResponse" message="tns:IWCFBrainStormer_ListQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFBrainStormer/getQuestion" message="tns:IWCFBrainStormer_getQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFBrainStormer/getQuestionResponse" message="tns:IWCFBrainStormer_getQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFBrainStormer/getOptions" message="tns:IWCFBrainStormer_getOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFBrainStormer/getOptionsResponse" message="tns:IWCFBrainStormer_getOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFBrainStormer/loginDb" message="tns:IWCFBrainStormer_loginDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFBrainStormer/loginDbResponse" message="tns:IWCFBrainStormer_loginDb_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrainStormerServiceEndPoint" type="tns:IWCFBrainStormer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListQuestions">
      <soap:operation soapAction="http://tempuri.org/IWCFBrainStormer/ListQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <soap:operation soapAction="http://tempuri.org/IWCFBrainStormer/getQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOptions">
      <soap:operation soapAction="http://tempuri.org/IWCFBrainStormer/getOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginDb">
      <soap:operation soapAction="http://tempuri.org/IWCFBrainStormer/loginDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFBrainStormer">
    <wsdl:port name="BrainStormerServiceEndPoint" binding="tns:BrainStormerServiceEndPoint">
      <soap:address location="http://localhost:9998/BrainStormerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>